<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nextAvailableAccountNumber</key>
	<string>5</string>
	<key>nextAvailableClassid</key>
	<string>3</string>
	<key>RegistrarInfo</key>
	<array>
		<dict>
			<key>name</key>
			<string>Josh Carter</string>
			<key>accountNumber</key>
			<string>1</string>
			<key>Login</key>
			<dict>
				<key>userName</key>
				<string>MainRegistrar</string>
				<key>password</key>
				<string>123</string>
			</dict>
			<key>currentStatus</key>
			<string>active</string>
		</dict>
	</array>
	<key>InstructorInfo</key>
	<array>
		<dict>
			<key>name</key>
			<string>John David</string>
			<key>accountNumber</key>
			<string>2</string>
			<key>Login</key>
			<dict>
				<key>userName</key>
				<string>testInstructor</string>
				<key>password</key>
				<string>123</string>
			</dict>
			<key>currentStatus</key>
			<string>active</string>
			<key>reviews</key>
			<array>
				<string>Comp 3700 - Good class</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Yilmaz</string>
			<key>accountNumber</key>
			<string>4</string>
			<key>Login</key>
			<dict>
				<key>userName</key>
				<string>teacher2</string>
				<key>password</key>
				<string>123</string>
			</dict>
			<key>currentStatus</key>
			<string>active</string>
			<key>reviews</key>
			<array>
				<string>Comp 3700 - Great understanding of subject</string>
			</array>
		</dict>
	</array>
	<key>ClassCatalog</key>
	<array>
		<dict>
			<key>name</key>
			<string>Comp 3700</string>
			<key>time</key>
			<string>12:30</string>
			<key>location</key>
			<string>Shelby</string>
			<key>idNumber</key>
			<string>1</string>
			<key>department</key>
			<string>Eng</string>
			<key>level</key>
			<string>Junior</string>
			<key>preReqClasses</key>
			<array/>
			<key>Grade</key>
			<dict>
				<key>average</key>
				<string>80</string>
				<key>letterGrade</key>
				<string>B</string>
			</dict>
			<key>capacity</key>
			<string>1</string>
			<key>Instructor</key>
			<string>4</string>
			<key>StudentsList</key>
			<array>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Comp 3800</string>
			<key>time</key>
			<string>1:00</string>
			<key>location</key>
			<string>Brown</string>
			<key>idNumber</key>
			<string>2</string>
			<key>department</key>
			<string>Eng</string>
			<key>level</key>
			<string>Senior</string>
			<key>preReqClasses</key>
			<array/>
			<key>Grade</key>
			<dict/>
			<key>capacity</key>
			<string>11</string>
			<key>Instructor</key>
			<string>2</string>
			<key>StudentsList</key>
			<array/>
		</dict>
	</array>
	<key>StudentInfo</key>
	<array>
		<dict>
			<key>GPA</key>
			<string>3.0</string>
			<key>name</key>
			<string>Stephen Harris</string>
			<key>accountNumber</key>
			<string>3</string>
			<key>level</key>
			<string>junior</string>
			<key>currentClass</key>
			<array>
				<string>1</string>
			</array>
			<key>priorClass</key>
			<array>
				<string>2</string>
			</array>
			<key>Login</key>
			<dict>
				<key>userName</key>
				<string>testStudent</string>
				<key>password</key>
				<string>123</string>
			</dict>
			<key>currentStatus</key>
			<string>active</string>
		</dict>
	</array>
</dict>
</plist>
